<div class="tabla-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 responsive-table">


        <ng-container class="tabla" *ngFor="let elem of displayedColumns;let i =index" [matColumnDef]="elem">
            <th class="tabla-col" mat-header-cell *matHeaderCellDef> {{elem.toUpperCase()}} </th>

            <td mat-cell *matCellDef="let element;let i2=index">
                <div class="tabla-cell" *ngIf="elem==='cantidad'">
                    {{element[elem]}}
                </div>
                <div class="tabla-cell" *ngIf="elem!='cantidad'&& elem!='precio' ">
                    {{element.juego[elem]}}
                </div>
                <div class="tabla-cell" *ngIf="elem==='precio'">
                    $ {{element.juego[elem]}}
                </div>
                <div class="tabla-cell" *ngIf="elem==='total'">
                    $ {{ (parse(element.juego['precio']) * parse(element['cantidad'])) }}
                </div>
                <div class="tabla-cell" *ngIf="elem==='acciones'">
                    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                        (click)="removeCompra(i2)">
                        <mat-icon class="icon-delete">delete</mat-icon>
                    </button>
                </div>

            </td>

        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <h3><b style="font-weight: bold;"> PRECIO TOTAL FINAL :</b> <span class="card-precio"> $ {{precioFinal()}}</span>
    </h3>

</div>