@import url(./inicio-main.css);



@keyframes hero-mover {
    0% {
        translate: 0px;
    }

    100% {
        translate: -400px;
    }
}
@keyframes titleAni {
    0% {
        text-shadow: 0px 0px 2px black, 0px 0px 0px white, 0px 0px 0px white;
    }

    100% {
        text-shadow: 0px 0px 2px black, 0px 0px 10px white, 0px 0px 5px white;
    }

}

@media(max-width:768px) {
    .portrait {
        width: 100px;
        height: 300px;

    }

    .hero-img {


        height: 300px;
        left: -40px;

    }
    .textTitle {
            text-align: center;
    
            color: white;
            font-size: 2rem;
    }
    .textTitle2 {
                    color: var(--title-color2);
                    font-size: 1.2rem;
                    padding: 2rem;
                    text-align: center;
                  
                }
    .parrafoMain {
        width: 100%;
        font-size: 10px;
    }
    .info-img{
        width: 50%;
    }
    .acerca{
        width: 100%;
       
        background-size: contain;
            background-repeat: no-repeat;
    }
    .acerca-parrafo{
        width: 100%;
        font-size: 10px;
    }
    .main-carousel{
        position: relative;
        top:-250px;
    }
    .carousel-responsive{
        display: block;
        position: relative;
        top:-200px;
    }
    .carousel-desktop{

        display:none;
        
    }
       
}
@media(min-width:768px) {
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

   
}
